<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Analisis Stres dari Twitter</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Analisis Stres dari Tweet</h1>
    <form action="/result" method="post">
      <label for="username">Masukkan Username Twitter:</label>
      <input type="text" id="username" name="username" required>
      <button type="submit">Analisis</button>
    </form>
  </div>
</body>
</html>
